<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>Controller.LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>view.Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterC</servlet-name>
        <servlet-class>Controller.RegisterC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failure</servlet-name>
        <servlet-class>view.Failure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookC</servlet-name>
        <servlet-class>Controller.BookC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success1</servlet-name>
        <servlet-class>view.Success1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failure1</servlet-name>
        <servlet-class>view.Failure1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FailureBooking</servlet-name>
        <servlet-class>view.FailureBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failure2</servlet-name>
        <servlet-class>view.Failure2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterC</servlet-name>
        <url-pattern>/RegisterC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failure</servlet-name>
        <url-pattern>/Failure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookC</servlet-name>
        <url-pattern>/BookC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success1</servlet-name>
        <url-pattern>/Success1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failure1</servlet-name>
        <url-pattern>/Failure1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FailureBooking</servlet-name>
        <url-pattern>/FailureBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failure2</servlet-name>
        <url-pattern>/Failure2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/Data</description>
        <res-ref-name>ref1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/Registration</description>
        <res-ref-name>ref2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/registration1</description>
        <res-ref-name>ref3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/Registration</description>
        <res-ref-name>Data</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/Registration</description>
        <res-ref-name>Data3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
